<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div id="header">
    {% block header %}{% endblock %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
<div id="footer">
    Powered by <a href="http://cherrypy.org/">cherrypy</a>, warp.fm by <a href="mailto:senftt@gmail.com">senft</a>, 2012
</div>
</body>
</html>
