{% extends "base.html" %}

{% block title %}
    warp.fm - Couldn't fetch data
{% endblock %}

{% block header %}
    <h1>warp.fm - Couldn't fetch data.</h1>
{% endblock %}

{% block content %}
<a href="index"><< Go back</a>

<h2 align="right">I am sorry {{ username }}. I could't find any data for that
    day.You probably scrobbled no songs on {{ date }}.</h2>

<p class="description">You can just come back tomorrow, or subscribe to the
daily newsletter, to receive regular summaries. Just put your Email and
last.fm-username here:</p>

<form method="post" action="warp">
    <p align="center">
        E-Mail: <input name="email" /> <br />
        last.fm username: <input name="username" value="{{ username }}" />
        <input type="submit" value="Submit">
    </p>
</form>



{% endblock %}
