{% extends "base.html" %}
{% block title %}
    warp.fm - {{ name }}'s day ({{ date }})
{% endblock %}

{% block header %}
    <h1>warp.fm - {{ name }}'s day ({{ date }})</h1>
{% endblock %}

{% block content %}
<a href="index">&lt;&lt; Go back</a>
<h2 class="stats">General</h2>
You have listened to {{ tracks_played }} songs that day.
Thats {{ percentage }}% of your total {{ playcount }} tracks.

<h2 class="stats">Random tracks</h2>
<table class="tracks">
{% for track in random_tracks %}
    <tr>
        <td class="image">
            {% if track.img%}
                <a href="{{ track.url }}">
                    <img width="34" height="34" src="{{ track.img}}" />
                </a>
            {% else %}
                {% if track.artist.img %}
                    <a href="{{ track.url }}">
                        <img width="34" height="34" src="{{ track.artist.img}}" />
                    </a>
                {% endif %}
            {% endif %}
        </td>
        <td class="title">
            <a href="{{ track.artist.url }}">{{ track.artist.name }}</a> - 
            <a href="{{ track.url }}">{{ track.title }}</a>
        </td>
        <td class="time">
            {{ track.time }}
        </td>
    </tr>
{% endfor %}
</table>

<h2 class="stats">Top artists</h2>
    <table class="top_list">
    {% for artist in top_artists %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
            <td class="id">
                {{ loop.index }}
            </td>
            <td>
                <a href="{{ artist.artist.url }}">{{ artist.artist.name }}</a>
            </td>
            <td class="rank">
                {{ artist.count }}
            </td>
        </tr>
    {% endfor %}
    </table>

<h2 class="stats">Top albums</h2>
    <table class="top_list">
    {% for album in top_albums %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
            <td class="id">
                {{ loop.index }}
            </td>
            <td>
                {{ album[0] }}
            </td>
            <td class="rank">
                {{ album[1] }}
            </td>
        </tr>
    {% endfor %}
    </table>

<h2 class="stats">Top tracks</h2>
    <table class="top_list">
    {% for track in top_tracks %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
            <td class="id">
                {{ loop.index }}
            </td><td>
                <a href="{{ track.track.artist.url }}">{{ track.track.artist.name }}</a> - 
                <a href="{{ track.track.url }}">{{ track.track.title }}</a>
            </td><td class="rank">
                {{ track.count }}
            </td>
        </tr>
    {% endfor %}
    </table>
<br />
{% endblock %}
