{% extends "base.html" %}
{% block header %}
    <h1>{{ name }}'s day - {{ date }}</h1>
{% endblock %}

{% block content %}
<h2 class="stats">General</h2>
You have listened to {{ tracks_played }} songs that day.
Thats {{ percentage }}% of your total {{ playcount }} tracks.

<h2 class="stats">Random tracks</h2>
<table class="tracks">
{% for track in random_tracks %}
    <tr>
        <td class="image">
            {% if track.track.img_small %}
                <a href="{{ track.track.url }}">
                    <img width="34" height="34" src="{{ track.track.img_small }}" />
                </a>
            {% endif %}
        </td>
        <td class="stream">
            {% if track.streamable %}streamable?{%endif%}
        </td>
        <td class="title">
            {{ track.artist.name }} - 
            <a href="{{ track.track.url }}">{{ track.track.title }}</a>
        </td>
        <td class="time">
            {{ track.track.time }}
        </td>
    </tr>
{% endfor %}
</table>

<h2 class="stats">Top artists</h2>
    <table class="top_list">
    {% for artist in top_artists %}
        <tr class=" {{ loop.cycle('odd', 'even') }}">
            <td class="id">
                {{ loop.index }}
            </td>
            <td>
                {{ artist[0] }}
            </td>
            <td class="rank">
                {{ artist[1] }}
            </td>
        </tr>
    {% endfor %}
    </table>

<h2 class="stats">Top albums</h2>
    <table class="top_list">
    {% for album in top_albums %}
        <tr class=" {{ loop.cycle('odd', 'even') }}">
            <td class="id">
                {{ loop.index }}
            </td>
            <td>
                {{ album[0] }}
            </td>
            <td class="rank">
                {{ album[1] }}
            </td>
        </tr>
    {% endfor %}
    </table>
<h2 class="stats">Top tracks</h2>
    <table class="top_list">
    {% for track in top_tracks %}
        <tr class=" {{ loop.cycle('odd', 'even') }}">
            <td class="id">
                {{ loop.index }}
            </td><td>
                {{ track.track.artist.name }} - 
                <a href="{{ track.track.track.url }}">{{ track.track.track.title }}</a>
            </td><td class="rank">
                {{ track.count }}
            </td>
        </tr>
    {% endfor %}
    </table>

<br />
{% endblock %}
